body {
    background-color:black;
    margin:0;
    padding:0;
    background-image: url("image/bg.jpg");
    background-size: cover;
}

#analyser_render{
    background-size: contain;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100vw;
    height:100vh;
    z-index: -1;
    pointer-events: none;
}

#controlBar {
    background-color: rgb(46, 46, 46);
    width: 100vw;
    margin:0;
    padding: 10px 0px ;
}

#vol, #playlist, #nowPlaying, #options_bar button {
    height:30px;
    float:left;
    margin-left: 3%;
    font-weight: 900;
}

#vol {
    max-width: 250px;
    min-width: 100px;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: transparent;
}

#playlist {
    max-width: 300px;
    min-width: 250px;
    float: left;
}

#nowPlaying {
    min-width: 200px;
    max-width: 300px;
    width:30vw;
    background-color: rgb(27, 27, 27);
    line-height: 2.0em;
    overflow: hidden;
    color:white;
    text-align:center;
    vertical-align: middle;
    border:2px solid rgba(255, 255, 255, 0.596);
}

#songNow {
    -moz-animation: marquee 15s linear infinite;
    -webkit-animation: marquee 15s linear infinite;
    animation: marquee 15s linear infinite;
}

#options_bar {
    display: inline-block;
    width: 380px;
    height: 30px;
    z-index: 10;
    margin-left: 3%;
}

#options_bar button {
    margin-left: 1%;
    width: 80px;
    border-radius: 5px;
    border:none;
    transition: 0.3s;
    padding-bottom:5px;
    border: 3px solid transparent;
}

#options_bar button:focus {
    outline: none;
    box-shadow: none;
}

#options_bar button:hover {
    border-left: 3px solid white;
}

.option {
    cursor: pointer;
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 1.0em;
}

option {
    font-size: 1.2em;
}

#currDuration {
    margin-top:-5px;
    width:100vw;
    margin: 0;
    height:20px;
}

#currDuration::-webkit-slider-thumb {
    height:15px;
    margin-top: -3px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    cursor: pointer;
    background: #7F8182;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
    height: 25px;
    width: 15px;
    border-radius: 3px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #7F8182;
}

@-moz-keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}
@-webkit-keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes marquee {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}