@media only screen and (min-width: 1180px) {
    #controlBar {
        width: 100vw;
        height:30px;
        padding: 10px 0px ;
    }

    #analyser_render{
        height: 100vh;
        margin-bottom: 0;
    }

    #vol, #playlist, #nowPlaying, #options_bar {
        margin-top:0;
        margin-right: 0;
        height:30px;
        float:left;
        margin-left: 2%;
    }

    #vol {
        width: 10vw;
        min-width: 150px;
    }

    #playlist {
        max-width: 300px;
        width: 20vw;
        float: left;
        transform: translateX(0);
    }

    #nowPlaying {
        width:20vw;
        max-width: 300px;
        transform: translateX(0);
        line-height: 2.0em;
    }

    option {
        font-size: 1.2em;
    }

    #showMoreContainer::after {
        left: 90%;
    }

    .showMoreInputs {
        width:30vw;
    }
}